body {
  background-color: lightblue;
  text-align: center;
}

.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

img {
  /*   transform: translateY(100px);
     transform: scale(2, 2); */
  /*   transform:rotateX(70deg); */
  transform: rotateX(45deg);
}

.circle {
  color: white;
  background-color: pink;
  border-radius: 50px;
  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  cursor: pointer;
  transition: background-color 1s, transform 0.3s 1s linear;
}

.circle:hover {
  background-color: salmon;
  transform: rotate(360deg);
}

/**************************************************/

html,
body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  margin: 0;
}

.grass,
.sky,
.road {
  position: relative;
}

.sky {
  height: 40%;
  background-color: skyblue;
}

.grass {
  background-color: seagreen;
  height: 30%;
}

.road {
  height: 30%;
  background-color: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines {
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

.mario {
  position: absolute;
  top: -40px;
  left: 0px;
  /*   animation-name: drive;
  animation-duration: 5s;
  animation-fill-mode: both; */
  /* animation-delay: 3s; */
  /*  animation-iteration-count: 3; */
  /*   animation-iteration-count: infinite;
  animation-timing-function: linear; */
  animation: drive 3s both infinite linear, jump 0.3s 1.2s ease;
}

.luigi {
  position: absolute;
  top: 100px;
  left: 0px;
  animation-name: drive;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.cloud {
  position: absolute;
}

.cloud:nth-child(1) {
  width: 200px;
  top: 0px;
  opacity: 0.5;
  animation: wind 80s linear 2s infinite reverse;
}

.cloud:nth-child(2) {
  width: 300px;
  top: 120px;
  opacity: 0.5;
  animation: wind 50s linear infinite reverse;
}

@keyframes wind {
  from {
    left: -300px;
  }
  to {
    left: 100%;
  }
}

@keyframes drive {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(500px);
  }

  /*   25% {
    background-color: #00a4bd;
  }
  50% {
    background-color: #ff7a59;
  }
  75% {
    background-color: #00bda5;
  }
  100% {
    background-color: #6a78d1;
  } */
}

@keyframes jump {
  0% {
    top: -40px;
  }
  50% {
    top: -100px;
  }
  100% {
    top: -40px;
  }
}

/**************************************************/

main {
  margin: 0;
  position: relative;
  background-color: #222;
}

* {
  font-family: Calibri, sans-serif;
  font-weight: normal;
  color: #333;
}

h1 {
  font-size: 48px;
  margin: 10px 0;
}

p {
  margin-bottom: 40px;
}

#pop-up {
  position: relative;
  top: 200px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#pop-up .container {
  background-color: #f0e4d4;
  padding: 30px;
  position: absolute;
  top: 50px;
  width: 100%;
  box-sizing: border-box;
}

#pop-up input {
  padding: 10px;
  border: 0;
  border-radius: 10px 0 0 10px;
  border: 1px solid #333;
  font-size: 18px;
}

button {
  padding: 10px;
  border: 0;
  color: #fff;
  background-color: #333;
  margin-left: -5px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #333;
  font-size: 18px;
}

.cross {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #555;
  color: #ddd;
  font-weight: bold;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 11px;
}

#pop-up {
  top: -400px;
  transform-origin: 10px 10px;
  animation: drop 0.5s ease forwards, swing 2s 3s ease forwards;
}

@keyframes drop {
  0% {
    opacity: 0;
  }
  70% {
    transform: translateY(700px);
  }
  100% {
    transform: translateY(650px);
    opacity: 1;
  }
}

@keyframes swing {
  0% {
    transform: translateY(650px) rotateZ(0deg);
  }
  40% {
    transform: translateY(650px) rotateZ(90deg);
  }
  70% {
    transform: translateY(650px) rotateZ(70deg);
  }
  100% {
    transform: translateY(650px) rotateZ(75deg);
  }
}

/**************************************************/
main {
  background-color: #fff;
}

header {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  background: #fff;
}
header:after {
  display: block;
  content: "";
  clear: both;
}
.basket ul {
  padding: 0;
  margin-top: 40px;
}
.basket li {
  display: inline-block;
  list-style-type: none;
  width: 30%;
  margin: 30px 1.5%;
  text-align: center;
}
.basket button {
  border-radius: 10px;
  cursor: pointer;
}
.basket header div {
  float: right;
  position: relative;
  z-index: 1;
}
.basket header h1 {
  float: left;
}

.zoom {
  position: absolute;
  top: 40px;
  right: 50%;
  width: 40px;
  opacity: 0;
  animation: zoom 1s ease forwards;
}

@keyframes zoom {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    right: 40px;
  }
}

/**************************************************/

#asBody {
  background: #333;
  font-family: verdana;
  height: 100%;
  width: 100%;
}

.wrapper2 {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}

#titleCard {
  color: #fff;
  font-weight: normal;
  text-align: center;
  font-size: 48px;
}

.panels2 {
  list-style-type: none;
  padding: 0;
}

.panels2 li {
  position: relative;
  width: 25%;
  margin: 0;
  display: block;
  box-sizing: border-box;
  float: left;
}

.panels2 li div {
  width: 100%;
  padding: 50% 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 0;
  cursor: pointer;
}

.panels2 div.back {
  transform: rotateY(90deg);
}

.panels2 div.front {
  position: absolute;
}

.panels2 li:hover div.front {
  animation: twirl 0.2s ease-in forwards;
}

.panels2 li:hover div.back {
  animation: twirl 0.2s 0.2s ease-in forwards reverse;
}

@keyframes twirl {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
